
package %PACKAGE%;

import java.io.InputStream;
import java.io.InputStreamReader;
import java.util.Properties;

public class %CLASSNAME% {

	private Properties props;
	
	public static final %CLASSNAME% properties = new %CLASSNAME%();//NOSONAR
	
	private %CLASSNAME%() {
	    props = new Properties();
		try (InputStreamReader isr = new InputStreamReader(this.getClass().getResourceAsStream("/%FILENAME%"))) {
	        	props.load(isr);
		} catch(Exception e) {
			throw new RuntimeException("Failed load resource %FILENAME%!", e);
		}
	}

	/**
	 * override (or add extra) properties from InputStream
	 **/
	public void load(InputStream input) {
		try {
			props.load(input);
		} catch(Exception e) {
			throw new RuntimeException("Failed load properties", e);
		}
	}

	public Properties getProperties() {
		return props;
	}

	%PROPERTIES%
	
}
